<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Enlaces</h4>
        <ul class="list-unstyled">
          <li><a routerLink="/home">Inicio</a></li>
          <li><a routerLink="/products">Productos</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Síguenos en redes sociales</h4>
        <mat-icon class="social-icon">facebook</mat-icon>
      </div>
    </div>
  </div>
</footer>
